svg.ct-chart-bar,
svg.ct-chart-line,
svg.ct-chart-pie {
  overflow: visible;
}

.ct-indicators .ct-label.ct-label.ct-horizontal.ct-end {
  position: relative;
  justify-content: flex-end;
  text-align: right;
  transform-origin: 100% 0;
  transform: translate(-50%) rotate(-45deg);
  white-space: nowrap;
}

.ct-oee-indicators .ct-label.ct-label.ct-horizontal.ct-end {
  margin-top: 20px;
  font-size: 0.75rem;
}

.ct-label {
  color: black;
  font-size: 1rem;
}

.ct-target-line {
  stroke: black;
}

.ct-gauge-needle {
  font-size: 1rem;
  stroke: #555555;
  fill: #555555;
}
